body {
    font-size: 16px;
}

h1 {
    font-family: sans-serif;
    text-align: center;
}

p {
    font-weight: 600;
    font-size: 3em;
    line-height: 5px;
    text-decoration: dotted;
    text-align: center;
}

ul {
    text-align: center;
    list-style-type: none;
}

#yellow {
    background-color: yellow;
}

#red {
    background-color: red;
}

#brown {
    background-color: brown;
}